<!DOCTYPE html>
<html>
  <head>
    <title>Get In Touch</title>
    <style>
      .main {
        display: flex;
        justify-content: center;
        margin-top: 60px;
      }
      .sub {
        width: 500px;
        text-align: center;
        border: 2px solid;
        padding: 30px;
      }
    </style>
  </head>

  <body>
    <div class="main">
      <div class="sub">
        <h2>Get In Touch</h2>
        <p>Dear Admin, Following User want to contact  <strong> Name : <%= name %></strong> <br> <strong> Phone : <%= phone %></strong></p>
      </div>
    </div>
  </body>
</html>
